.cabecalho {
    background-color: var(--bege-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    img {
        width: 180px;
        cursor: pointer;
    }

    &__opcoes {
        display: flex;
        align-items: center;
        gap: 3rem;
        padding: 0 1rem;
        text-transform: uppercase;
    }

    &__link {
        color: var(--bege-medio);
    }
}